@import 'https://unpkg.com/open-props';
/* @import "https://unpkg.com/open-props/normalize.min.css"; */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
	--almost-white: hsl(0, 0%, 98%);
	--medium-gray: hsl(0, 0%, 41%);
	--almost-black: hsl(0, 0%, 8%);

	--fs-paragraph: 18px;

	--fw-500: 500;
	--fw-700: 700;

	--font-family: 'Epilogue', sans-serif;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--medium-gray);
}

body {
	font-family: var(--font-family);
}

body > :first-child {
	position: relative;
	overflow: hidden;
	z-index: 0;
	height: 100vh;
}

p {
	font-size: var(--fs-paragraph);
}
